body {
    background-color: rgb(118, 118, 118);
    --height-black-button: 90px;
    --height-white-button: 200px;
}

.keys {
    position: absolute;
    display: flex;

    top: 20%;
    left: 48%;
    transform: translate(-50%,-50%);

}

.white-keys {
    display: grid;

    grid-template-columns: repeat(49, 25px);
    border: 1px solid black;
    height: var(--height-white-button);
}

.white-keys > .white {
    border: 1px solid black;
    width: auto;
    padding: 0rem;
    margin: 0rem;

    font-weight: bold;

    cursor: pointer;
}

.white-keys > .white:hover {
    background-color: rgb(139, 139, 139);
}

.white-keys > .white.click{
    transition: background-color 0.1s linear;
    background-color: red;
}

.black-keys {
    position: flex;
    position: absolute;

    flex-direction: column;

    padding-left: 12px;

    height: 5rem;
}

.black-keys > .black {
    border: 0px solid rgb(255, 255, 255);
    background-color: black;
    color: rgb(255, 255, 255);
    width: 19px;
    height: var(--height-black-button);
    padding: 0rem;
    margin: 0px 3.445px;

    font-weight: bold;

    cursor: pointer;
}

.black-keys > .black.hide {
    margin: 0px calc(9.5px + 2.008px);
    border: 0px;
    width: 0px;
    height: 0px;
    font-size: 0px;
}

.black-keys > .black:hover {
    background-color: rgb(55, 55, 55);
}

.black-keys > .black.click{
    transition: background-color 0.1s linear;
    background-color: rgb(2, 157, 2);
}

.sentezator > .settings{
    position: absolute;

    background-color: rgb(172, 201, 179);
    border-radius: 8px;

    top: 50%;
    left: 48%;

    transform: translate(-50%,-50%);

    height: 300px;

    width: 1225px;
}

.sentezator > .set-steps > input{
    width: 6.25rem;
}

.black >  div > .key {
    display: flex;
    margin-top: calc(var(--height-black-button) - 33px);
    border: 0px;

    background-color: rgb(138, 138, 138);
    width: 15px;

    text-align: center;
}

.white > div > .key {
    display: flex;
    margin-top: calc(var(--height-white-button) - 33px);
    border: 0px;

    background-color: rgb(174, 174, 174);
    width: 22px;


    text-align: center;
}


.black >  div > .key[value=""] {
    display: none;
}

.black >  div > .note {
    display: flex;
    position: relative;
    top: calc(var(--height-black-button) / 2 - 8px);
    padding-left: 1px;
}

.white > div > .note {
    display: flex;
    position: relative;
    top: calc(var(--height-white-button) / 2 + 8px);
    padding-left: 4px;
}